.animated-border {
  border: 3px solid transparent;

  animation: animateBorder 2s linear infinite;
}

@keyframes animateBorder {
  0% {
    border-color: rgb(0, 217, 255);
  }

  50% {
    border-color: rgb(3, 3, 3);
  }

  100% {
    border-color: yellow;
  }
}
